@import '../../index';

.myImage{
  margin-right: 1rem;
  margin-left: 5rem;
  height: 12rem;
  width: 12rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

@media screen and (max-width: 800px){
  .myImage{
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
  }
}