@import '../../index';

.themeButton {
  width: 2rem;
  height: 2rem;
  color: $textLight;
  background-color: $buttonRedLight;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: $buttonRedDark;
  }
}

body.darkMode{
  background-color: $bodyDark;
  .divHeader, .navBar, .footer{
    background-color: $backgroundBlueDark;
  }
  .themeButton{
    color: #eac102;
    background-color: $backgroundBlueLight;
    &:hover{
      background-color: $dividerDark;
    }
  }
  .title__divider{
    background-color: $dividerDark;
  }
  .myImage{
    box-shadow: 2px 4px 8px 0 rgba(82,181,242,0.7);
  }
  .hero{
    background-color: $bodyDark;
  }
  .fa-heart-pulse{
    color: $backgroundBlueLight;
  }
  .divContact__link{
    color: darkgrey;
    &:hover{
      color: $textLight;
    }
  }
  .divSkills, .divHome{
    color: $textLight;
  }
  .divHome__card {
    background-color: rgba(0, 0, 0, 0);
  }
}

body.lightMode{
  background-color: $bodyLight;
  .divHeader, .navBar, .footer{
    background-color: $backgroundBlueLight;
  }
  .themeButton{
    background-color: $buttonRedLight;
  }
  .title__divider{
    background-color: $dividerLight;
  }
  .myImage{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .hero{
    background-color: $bodyLight;
  }
  .fa-heart-pulse{
    color: $buttonRedLight;
  }
  .divSkills__divider{
    background-color: $backgroundBlueLight;
  }
  .divHome__card {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 800px) {
  .button {
    width: 25vw;
  }
  .footer{
    font-size: 0.7rem;
  }
}