@import '../../index';

.themeButton {
  width: 2rem;
  height: 2rem;
  color: $textLight;
  background-color: $lightRed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: $darkRed;
  }

  &.dark {
    // Estilos específicos para el tema oscuro si es necesario
  }

  &.light {
    // Estilos específicos para el tema claro si es necesario
  }
}

/* Posicionamiento en la esquina superior derecha */
.themeButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem; /* Ajusta el margen según sea necesario */
}

@media screen and (max-width: 800px) {
  .button {
    width: 25vw;
  }
}