@import '../../index.scss';

.title{
  margin-left: 10rem;
  &__divider{
    margin-left: 0;
    width: 25vw;
    border: none;
    height: 1px;
    background-color: $dividerLight;
  }
}

@media screen and (max-width: 800px){
  .title{
    margin-left: 1rem;
    font-size: 0.5rem;
    &__divider{
      color: hotpink;
      margin-left: 0;
      width: 50vw;
    }
  }
}