@import '../../index';

.divHeader{
  display: flex;
  align-items: center;
  color: $textLight;
  background-color: $backgroundBlueLight;
  margin-top: -1rem;
  padding: 1rem;
  height: 13rem;
}

@media screen and (max-width: 800px){
  .divHeader{
    height: 6rem;
  }
}
