@import '../../index.scss';

.navBar{
  margin: 0;
  padding: 1rem;
  background-color: $backgroundBlueLight;
  height: 3rem;
}
ul{
  margin-left: 8rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.link{
  text-decoration: none;
  color: $textLight;
  font-size: large;
  transition: color 0.3s ease;
  &:hover{
    color: darkgrey;
  }
}

@media screen and (max-width: 800px){
  ul{
    margin-left: 0;
    height: 1rem;
  }
  .link{
    font-size: medium;
  }
}
