@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$bgMain: rgb(37, 37, 37);
$textLight: whitesmoke;
$textDark: #1e2432;
$darkRed: #c3112d;
$lightRed: rgb(222, 46, 57);
$textMed: rgb(100,100,100);
$textSoft: rgb(221, 221, 221);
$blueLight: #52B5F2;
$divider: rgba(0, 0, 0, 0.12);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(119, 119, 119);
  background-color: $textLight;
}
