@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$bodyLight: whitesmoke;
$bodyDark: #26252d;
$textLight: whitesmoke;
$textMed: #777777;
$backgroundBlueLight: #52B5F2;
$backgroundBlueDark: #1e2432;
$buttonRedLight: #DE2E39;
$buttonRedDark: #c3112d;
$dividerLight: rgba(0, 0, 0, 0.12);
$dividerDark: #0570B4FF;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $textMed;
  background-color: $bodyLight;
}
