@import '../../index.scss';

@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(20px);
    color: hotpink;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
    color: #52B5F2;
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

.divSkills{
  text-align: center;
  height: 65vh;
  color: $textMed;
  &__divider{
    background-color: $backgroundBlueLight;
    margin: 1rem 3rem;
    border: none;
    height: 1px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 2rem;
    padding: 0;
    li{
      width: 33%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      .column-content{
        text-align: left;
        width: 40%;
        margin: 3rem 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .divSkills{
    height: 100vh;
    margin-bottom: 8rem;
    &__title{
      font-size: 1rem;
    }
    &__divider{
      margin: 1rem 1rem;
    }
    &__list{
      justify-content: center;
      li{
        width: 100%;
        .column-content{
          width: 40%;
          margin: 0.5rem;
          text-align: left;
          font-size: 1.5rem;
        }
      }
    }
  }
}